
spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: host.docker.internal:9092
    listener:
      missing-topics-fatal: false
    consumer:
      group-id: booking-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.value.default.type: com.trip.events.PaymentCompletedEvent
        spring.json.trusted.packages: '*'
#    producer:
#      key-serializer: org.apache.kafka.common.serialization.StringSerializer
#      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
#      properties:
#        spring.json.add.type.headers: false
#
#
  datasource:
    url: ${DB_URL:jdbc:postgresql://hopper.proxy.rlwy.net:23274/railway}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:RveXnmbQQJSEUiqijKaGGXqZUiBQvIzy}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    enabled: true

server:
  port: 8086

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
