spring:
  application:
    name: search-service
  data:
    redis:
      host: localhost
      port: 6379




flight-hotel-service:
  url: http://localhost:8083

logging:
  level:
    org.springframework.cache: DEBUG
    org.springframework.data.redis: DEBUG


server:
  port: 8084

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true